.footer {
    background: #EEEEEE;
    padding-top: 80px;
    padding-bottom: 40px;
}

.body-footer {
    display: flex;
    gap: 50px;
}

.body-footer__column_full {
    flex: 1 1 auto;
}

.body-footer__logo {
    display: inline-block;
}

.body-footer__logo:not(:last-child) {
    margin-bottom: 28px;
}

.contacts-footer__item:not(:last-child) {
    margin-bottom: 20px;
}

.contacts-footer__link {
    color: #666;
    display: inline-block;
    line-height: 24px;
    padding-left: 44px;
}

.contacts-footer__link:hover {
    text-decoration: underline;
}

.contacts-footer__link_mail {
    background: url('../img/footer/sms.svg') left no-repeat;
}

.contacts-footer__link_location {
    background: url('../img/footer/location.svg') left no-repeat;
}

.menu-footer {
    display: flex;
    gap: 120px;
    justify-content: center;
}

.menu-footer__title {
    text-transform: uppercase;
    color: #121212;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 20px;
}

.menu-footer__item:not(:last-child) {
    margin-bottom: 16px;
}

.menu-footer__link {
    color: #666;
}

.menu-footer__link:hover {
    text-decoration: underline;
}

.social-footer__title {
    text-transform: uppercase;
    color: #121212;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 12px;
}

.social-footer__items {
    display: flex;
    gap: 30px;
    align-items: center;
}


.footer__copy {
    padding-top: 80px;
    text-align: center;
}

@media (max-width: 991.98px) {
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .body-footer {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .body-footer__column:first-child {
        flex: 1 1 100%;
    }

    .body-footer__column_full {
        flex: 0 1 50%;
    }

    .menu-footer {
        display: flex;
        gap: 50px;
        justify-content: space-between;
    }
}

@media (max-width: 767.98px) {
    .footer__copy {
        padding-top: 50px;
    }
}